.form{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
.content{
margin:0 auto;
margin-top: 20px;
width:800px;
height:500px;
}
.saveindicadores{
margin:0 auto;
width:900px;
overflow:scroll;

}
#btnindicadores{
margin:0 auto;
margin-left:150px
}

/* ----------- My Form ----------- */
.myform4{
margin:0 auto;
margin-top: 150px;
width:400px;
}
.myform{
margin:0 auto;
margin-top: 150px;
width:310px;
}
.myformcontent{
margin:0 auto;
width:400px;
}
label {
color: #333333;
}
.myform2{
margin:0 auto;
margin-top: 150px;
width:600px;

padding:14px;
}
.myform3{
margin:0 auto;
margin-top: 150px;
width:700px;
height:400px;

padding:14px;
overflow:scroll;
}
.myformli{
margin:0 auto;
width:400px;
padding:14px;
height:400px;
overflow:scroll;


}
.myformest{
margin:0 auto;
margin-top: 150px;
width:700px;
padding:14px;
}

label {
color: #333333;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input, select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#back {
	width: 28px;
	height: 28px;
}